<footer>
  <div class="navbar navbar-light bg-warning">
    <div class="container-fluid">
      <span class="navbar-text mx-auto">&copy; 2022 LAILA ALFI SYAH. All Right Reserved.</span>
    </div>
  </div>
</footer>

<script src="assets/js/jquery.js"></script> 
<script src="assets/js/popper.js"></script> 
<script src="assets/js/bootstrap.js"></script>	
</body>
</html>