<div class="container mt-5">
  <div class="row d-flex justify-content-around">
      <div class="col-lg-6">
          <h1 class="text-center">FORM REGISTRASI</h1><br>
          <form method="POST" action="/inputEvent">
            <div class="mb-3">
              <label for="token" class="form-label">Token</label>
              <input type="text" class="form-control" id="token" name="token">
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="dateStart" class="form-label">Date Start</label>
              <input type="date" class="form-control" id="dateStart" name="dateStart">
            </div>
            <div class="mb-3">
              <label for="dateEnd" class="form-label">Date End</label>
              <input type="date" class="form-control" id="dateEnd" name="dateEnd">
            </div>
            <div class="mb-3">
              <label for="timeStart" class="form-label">Time Start</label>
              <input type="time" class="form-control" id="timeStart" name="timeStart">
            </div>
            <div class="mb-3">
              <label for="timeEnd" class="form-label">Time End</label>
              <input type="time" class="form-control" id="timeEnd" name="timeEnd">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="text" class="form-control" id="price" name="price">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>