<div class="container mt-5">
  <div class="row d-flex justify-content-around">
      <div class="col-lg-6">
          <h1 class="text-center">FORM REGISTRASI</h1><br>
          <form method="POST" action="/cobainput">
            <div class="mb-3">
              <label for="token" class="form-label">Token</label>
              <input type="text" class="form-control" id="token" name="token">
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Type</label>
              <input type="text" class="form-control" id="type" name="type">
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">Date</label>
              <input type="date" class="form-control" id="date" name="date">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="text" class="form-control" id="price" name="price">
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="location" name="location">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>